@page "/"
@using BlazingPizza.Model
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using BlazingPizza.Services
@inject PedidoEstado PedidoEstado

<div class="main">
    <h1>Pizzaria Paiva</h1>
    <ul class="pizza-cards">
        @if (pizzaSpecials != null)
        {
            @foreach (var special in pizzaSpecials)
            {
                <li @onclick="@(() => PedidoEstado.MostrarJanelaConfiguracaoPizza(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Nome</span>
                        @special.Descricao
                        <span class="price">@special.GetPrecoBaseFormatado()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (PedidoEstado.MostrarJanelaConfig)
{
    <ConfigurarPizza Pizza="PedidoEstado.ConfiguracaoPizza" />
}

@code {
    List<PizzaSpecial> pizzaSpecials = new();

    protected override async Task OnInitializedAsync()
    {
        pizzaSpecials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "pizzas");
    }
}
		