@using BlazingPizza.Model
@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Pizza.PizzaSpecial.Nome</h2>
            @Pizza.PizzaSpecial.Descricao
        </div>
        <form class="dialog-body">
            <div>
                <label>Tamanho:</label>
                <input type="range" min="@Pizza.MinimumSize" max="@Pizza.MaximumSize" step="1" @bind="Pizza.Tamanho" />
                <span class="size-label">
                    @(Pizza.Tamanho)" (£@(Pizza.GetPrecoTotalFormatado()))
                </span>
            </div>
        </form>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancelar</button>
            <span class="mr-center">
                Preco: <span class="price">@(Pizza.GetPrecoTotalFormatado())</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Solicitar ></button>
        </div>
    </div>
</div>

@code {
    @code {
        [Parameter] public Pizza Pizza { get; set; }
        [Parameter] public EventCallback OnCancel { get; set; }
        [Parameter] public EventCallback OnConfirm { get; set; }
    }
}
